button, input {
	margin: 0 2px; /* exterior */
	padding: 10px 20px; /* interior */
	height: 50px;
	background: #262626;
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	text-align: center;
    vertical-align: middle;
	border: 1px solid #262626;
	border-radius: 5px;
	cursor: pointer;
}

#home_btn {
    position: absolute;
	width: 50px;
    padding: 0;
    margin: 0;
    left: 90px;
    top: 20px;
    transition: all .5s ease;
}

/* The home button is moved to the end of the sidebar
 */
#sidebar-checkbox:checked ~ #home_btn{
    left: 340px;
}

/* To disable a button, make it inherit this class
 */
.grayed-out-button {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
    pointer-events: none;
}