*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Sidebar style
 */
.sidebar{
    text-align: center; /* Center inline or inline-block elements */
    position: fixed;
    left: -250px;
    width: 250px;
    height:100%;
    background: #1e1e1e;
    /* text-align: center; /* Center the content horizontally */
    line-height: 25px;
    overflow: auto; /* Add overflow property to enable scrolling */
    transition: all .5s ease;
    font-family: "Roboto", sans-serif;
    font-size: 18px;

    /* Rounded floating sidebar */
    top: 20px;
    height:90%;
    width: 240px;
    margin-left: 10px;
    padding-top: 10px;
    border-radius: 10px;

}

/* Label style */
.sidebar_label{
    color: #ffffff;
    display: block;
    margin: 10px 20px;
}

/* Slider style */
.custom_slider{
    color: white;
    height: 5px;
}

/* ------- */


th, td {
    border-collapse: collapse;
    text-align: left;
}

.table_label{
    color: #ffffff;
    display: block;
    margin: 0px 20px;
}

.table_checkbox{
    height: 25px;
}

/* Define open and close sidebar buttons */
label #open-sidebar-btn, label #close-sidebar-btn{
    position: absolute;
    cursor:pointer;
    background: #262626;
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    color: white;
    font-size: 18px;
    border: 1px solid #262626;
    border-radius: 5px;

    padding: 0;
    margin: 0;
    left: 20px;
    top: 20px;

    transition: all .5s ease;
}

label #close-sidebar-btn {
    opacity: 0;
    visibility: hidden;
}

/* The open sidebar button is pressed */

/* The sidebar is extended */
 #sidebar-checkbox:checked ~ .sidebar{
    left: 0;
}

/* The open button icon is moved to the end of the sidebar
 * and made invisible
 */
#sidebar-checkbox:checked ~ label #open-sidebar-btn{
    margin-left: 250px;
    opacity: 0;
    visibility: hidden;
}

/* The close button icon is moved to the end of the sidebar
 * and made visible
 */
#sidebar-checkbox:checked ~ label #close-sidebar-btn{
    margin-left: 250px;
    opacity: 1;
    visibility: visible;
}
